<p>If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.</p>
<p>Find the sum of all the multiples of $3$ or $5$ below $1000$.</p>

In [4]:
#Find sum of all the multiples of 3 or 5 below N
N = 1000

In [5]:
sumOfMultiples = 0
for n in range(3,N):
    if n%3==0:
        sumOfMultiples += n
    elif n%5==0:
        sumOfMultiples += n

In [6]:
print(sumOfMultiples)

233168